name: Update dis.js match and version

on:
  workflow_dispatch:
  push:
    paths:
      - "userlist.txt"

jobs:
  update:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # 明确授予写入权限
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GIT_TOKEN }}  # 使用默认令牌或 secrets.PAT

        - name: Read URL & Domain
        id: read_url
        run: |
          URL=$(sed -n '1p' ssb_url.txt)
          DOMAIN=$(sed -n '2p' ssb_url.txt)
          echo "url=$URL" >> $GITHUB_OUTPUT
          echo "domain=$DOMAIN" >> $GITHUB_OUTPUT

      - name: Update xin_Discuz.js @match
        run: |
          sed -i "s|^// @match.*|// @match        ${URL}*|" xin_Discuz.js

      - name: Update ziti.js @match
        run: |
          sed -i "s|^// @match.*|// @match        ${URL}*|" ziti.js

      - name: Update userlist.txt (domain)
        run: |
          sed -i "3s|.*|||${DOMAIN}|" userlist.txt

      - name: Update dwj/ub.txt (domain##font.jammer)
        run: |
          sed -i "2s|.*|${DOMAIN}##font.jammer|" dwj/ub.txt

      - name: Commit & Push changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git add xin_Discuz.js ziti.js userlist.txt dwj/ub.txt

          if git diff --cached --quiet; then
            echo "No changes to commit."
            exit 0
          fi

          git commit -m "Auto update JS/TXT files based on ssb_url.txt"
          git push
